*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body{
    background-color: #111;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.loader{
 position: relative;   
 width: 200px;
 height: 200px;
 display: flex;
 justify-content: center;
 align-items: center;
}

.loader span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid #fff;
    pointer-events: none;
    animation: animate 5s linear infinite;

}

.loader span:nth-child(1) {
    border-color: #e64032;
    border-radius: 0% 100% 0% 100% / 0% 100% 0% 100% ;
    }

.loader span:nth-child(2) {
    border-color: #f6b801;
    border-radius: 0% 100% 0% 100% / 0% 100% 0% 100%  ;
animation-direction: reverse;
}

.loader span:nth-child(3) {
    border-color: #31a452;
    border-radius:  0% 100% 0% 100% / 0% 100% 0% 100%  ;
   animation-duration: 2.5s;
}


@keyframes animate{
   0%{
       transform: rotate(0deg);
   } 
   100%{
    transform: rotate(360deg);
    } 
}


.loader h2{
   color: #b1ddf1;
    font-family: consolas,sans-serif;
    font-weight: 500;
}
